
@media (min-width: 1101px) and (max-width: 1660px) {
  .about__col_left {
    width: 60%;
  }

  .about__col_right {
    width: 37%;
  }

  .about__card {
    flex-direction: column;
  }

  .card {
    padding: 60px;
  }

  .footer__col_left {
    margin-right: 25px;
  }

}

@media (max-width: 1366px) {
  .footer__col_right {
    display: none;
  }
}

@media (max-width: 1220px) {

  .about__block-description {
    margin-right: 20px;
  }

  .header__nav-list {
    display: none;
  }

  .header__logo-img {
    width: 150px;
    height: 48px;
  }

  .header__burger {
    display: block;
    margin-right: auto;
  }

}

@media (max-width: 1100px) {
  .header {
    box-shadow: 0px 15px 15px 0px rgb(0 0 0 / 5%);
  }

  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .section {
    margin-bottom: 80px;
  }

  .section-heading {
    line-height: 58.51px;
  }

  .header__container {
    justify-content: ;
    align-items: center ;
  }

  .slider {
    padding: 160px 77px;
  }

  .hero__banner {
  }

  .hero__heading {
    max-width: none;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73.14px;
  }

  .hero__description {
    margin-bottom: 60px;
    max-width: none;
    font-size: 20px;
    line-height: 24.38px;
  }

  .about__heading {
    margin-bottom: 10px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__col {
    width: 100%;
  }

  .about__image {
    width: 100%;
    margin-bottom: 32px;
  }

  .about__description {
    margin-bottom: 60px;
  }

  .about__img {
    width: 100%;
    max-height: 640px;
  }

  .about__image {
  }

  .about__caption {
    transform: translateY(-4px);
  }

  .about__card {
    flex-direction: row;
  }

  .card {
    padding: 60px 114px 65px 77px;
    align-items: center;
  }

  .card__heading, .card__description {
    max-width: 452px;
  }

  .work__content-description {
    margin-bottom: 25px;
  }

  .work__img {
    object-fit: cover;
    /* max-height: 689px; */
  }

  .questions__question-name {
    font-size: 20px;
    line-height: 32px;
  }

  .footer__col_right {
    display: none;
  }

  .footer__col_center {
    margin-right: 0;
  }

  .footer__col_left {
    margin-right: 25px;
  }
}

@media (max-width: 905px) {
  .work__btns {
    display: flex;
    flex-direction: row;
  }

  .footer__nav-list {
    display: none;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    /* margin-left: 50px; */
  }

  .footer__col_center {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .hero__banner {
  }

  .hero__heading {
    font-size: 50px;
    line-height: 60.95px;
  }

  .hero__description {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 21.94px;
  }

  .slider {
    padding: 160px 40px;
  }

  .about__img {
    min-height: 650px;
  }

  .about__caption {
    padding: 34px 40px;
  }

  .work__content {
    flex-direction: column-reverse;
  }

  .work__col {
    width: 100%;
  }

  .work__img {
    margin-bottom: 38px;
  }

  .card {
    flex-direction: row;
    align-items: center;
    padding: 35px 36px 35px 40px;
  }

  .card__heading {
    max-width: none;
    font-size: 24px;
    line-height: 29.26px;
  }

  .card__pic {
    margin-right: 16px;
  }

  .card__pic svg {
    width: 114px;
    height: 99px;
  }

  .questions__question-name {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 700px) {

  .container {
    padding-left: 25px;
    padding-right: 25px
  }

  .section {
    margin-bottom: 60px;
  }

  .about__img {
    min-height: fit-content;
    height: 100%;
  }

  .about__caption {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: none;
  }

  .about__btn {
    padding: 17px 70px;
    color: var(--orange-color)
  }

  .about__block-description {
    max-width: none;
    margin-bottom: 15px;
    font-weight: 400;
    color: var(--text-color);
  }

  .about__card {
    flex-direction: column;
  }

  .card {
    align-items: flex-start;
  }

  .card__pic svg {
    width: 114px;
    height: 99px;
  }

  .questions__question-name {
    font-size: 18px;
    line-height: 30px;
  }

  .footer__col_center {
    margin-right: 0;
  }

  .form__check {
    display: block;
  }
}

@media (max-width: 500px) {

  .container {
    padding-left: 15px;
    padding-right: 15px
  }

  .section {
    margin-bottom: 60px;
  }

  .section-heading {
    font-size: 24px;
    line-height: 30px;
  }

  .header__container {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .header__logo-img {
    width: 110px;
    height: 35px;
  }

  .slider {
    min-height: 0;
    padding: 60px 22px;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
  }

  .hero__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__heading {
    max-width: 247px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 20px;
    line-height: 24.38px;
    font-weight: 800;
  }

  .hero__description {
    max-width: 247px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 14.63px;
  }

  .btn__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero__btn {
    margin: 0 auto;
    padding: 19px 37px;
    text-align: center;
    font-size: 12px;
    line-height: 14.63px;
  }

  .about__description,
  .about__block-description,
  .card__description,
  .work__content-description {
    font-size: 14px;
    line-height: 200%;
  }

  .about__description {
    margin-bottom: 8px;
  }

  .about__btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .about__btn {
    display: inline-block;
    flex-basis: 100%;
    padding: initial;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
  }

  .card {
    padding: 0;
    border: none;
  }

  .card__pic {
    margin-bottom: 12px;
  }

  .card__pic svg {
    width: 64px;
    height: 49px;
  }

  .card__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
  }

  .work__content-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .work__tabs-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .work__content-description {
    margin-bottom: 16px;
  }

  .work__btns {
    display: flex;
    flex-direction: row;
    justify-content: ;
  }

  .work__btn:not(.work__btn_transparent) {
    margin-right: 0;
    max-width: none;
    flex-basis: 55%;
  }

  .work__btn {
    flex-grow: 1;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 12px;
    line-height: 14.63px !important;
  }

  .work__btn_transparent {
    flex-shrink: 1;
    margin-left: 10px;
  }

  .questions__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .questions__question-name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .footer__col_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-right: 0;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
  }

  .footer__social-item:nth-child(3n) .footer__social-nav-link {
    margin-right: 0;
  }


  .footer__social-icon svg{
    width: 40px;
    height: 40px;
  }

  .footer__form {
    min-width: 100px;
  }

  .form__legend {
    text-align: center;
    font-size: 24px;
    line-height: 29.26px;
  }

  .footer__form input::placeholder,
  .footer__form textarea::placeholder {
    font-size: 14px;
  }

  .form__input {
    width: ;
  }

  .form__submit-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__submit {
    width: 75%;
    margin-right: 0;
    padding: 12px 24px;
    font-size: 12px;
  }

  .form__check {

  }

  .form__label-check {
  }

}

@media (max-width: 320px) {

  .work__btn {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 200px) {
  .footer__social-nav-list {
    flex-direction: column;
  }
}

